<div class="widget">
  <h3 class="widget-title">Connect</h3>
  <ul>
    <li><a class="spec" href="https://www.linkedin.com/in/nicolabaldi/" alt="LinkedIn">Linkedin</a></li>
    <li><a class="spec" href="https://github.com/naighes" alt="Github">Github</a></li>
    <li><a class="spec" href="https://twitter.com/nicolabaldi" alt="Twitter">Twitter</a></li>
    <li><a class="spec" href="https://www.slideshare.net/Naighes" alt="Slideshare">Slideshare</a></li>
    <li><a class="spec" href="mailto:nic.baldi@gmail.com" alt="email">Email</a></li>
  </ul>
</div>
